:root {
  --abc-selection-color: dodgerblue;
  --abc-voice-1-color: orange;
  --abc-voice-2-color: magenta;
  --abc-voice-3-color: lightgreen;
  --abc-voice-4-color: lightcoral;
  --abc-current-bar-color: rgba(30, 144, 255, 0.1);
  --abc-cursor-stroke-width: 2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --abc-current-bar-color: rgba(30, 144, 255, 0.2);
  }
}

.abc-score {
  .content,
  .abcjs-css-warning {
    display: none;
  }
  .controls {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    line-height: 1.5rem;
    button {
      font-size: 0.8rem;
      border-radius: 0.25rem;
      background-color: rgba(100, 100, 100, 0.5);
      padding: 0 0.5rem;
      border: none;
      &[disabled] {
        opacity: 0.5;
      }
      &:hover {
        background-color: rgba(100, 100, 100, 0.7);
      }
    }
    .tempo-control {
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 0.8rem;
    }
  }
  .abcjs-current-note,
  .abcjs-note_selected {
    fill: var(--abc-selection-color);
    &.abcjs-v1 {
      fill: var(--abc-voice-1-color);
    }
    &.abcjs-v2 {
      fill: var(--abc-voice-2-color);
    }
    &.abcjs-v3 {
      fill: var(--abc-voice-3-color);
    }
    &.abcjs-v4 {
      fill: var(--abc-voice-4-color);
    }
  }
  .abcjs-cursor {
    stroke-width: var(--abc-cursor-stroke-width);
  }
  .abcjs-bar-box {
    fill: var(--abc-current-bar-color);
  }
}
