:root {
  --abc-selection-color: dodgerblue;
}

.score {
  .abcjs-css-warning {
    display: none;
  }
  .score-audio-controls {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    line-height: 1.5rem;
    .score-button {
      font-size: 0.8rem;
      border-radius: 0.25rem;
      background-color: rgba(100, 100, 100, 0.5);
      padding: 0 0.5rem;
      &[disabled] {
        opacity: 0.5;
      }
      &:hover {
        background-color: rgba(100, 100, 100, 0.7);
      }
    }
  }
  .abcjs-current-note {
    fill: var(--abc-selection-color);
  }
  .abcjs-cursor {
    stroke-width: 2;
  }
}
