:root {
  --piano-height: 6rem;
  --piano-white-key-width: 1.75rem;
  --piano-black-key-width: 1.2rem;
}

.piano {
  margin-top: 1rem;
}

.piano-player {
  width: max-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  grid-template-areas:
    "a a"
    "b c";
  .piano {
    grid-area: a;
  }
  figcaption {
    grid-area: b;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
  }
  .actions {
    grid-area: c;
    display: flex;
    justify-content: end;
    gap: 0.5rem;
    line-height: 1.5rem;
    button {
      font-size: 0.8rem;
      border-radius: 0.25rem;
      background-color: rgba(100, 100, 100, 0.5);
      padding: 0 0.5rem;
      &[disabled] {
        opacity: 0.5;
      }
      &:hover {
        background-color: rgba(100, 100, 100, 0.7);
      }
    }
  }
}
