:root {
  --piano-height: 4rem;
  --piano-white-key-width: 1.2rem;
  --piano-black-key-width: 0.8rem;
  --piano-black-key-height: 60%;
  --piano-white-key-active-indicator-size: calc(
    var(--piano-white-key-width) / 3 * 2
  );
  --piano-black-key-active-indicator-size: calc(var(--piano-black-key-width));
  --piano-active-indicator-background-color: rgba(255, 255, 255, 0.9);
  --piano-key-label-font-size: 0.7rem;
  --piano-border-color: rgba(0, 0, 0, 0.4);
  --piano-white-key-color: white;
  --piano-black-key-color: rgb(35, 35, 35);
  --piano-white-key-highlight-color: dodgerblue;
  --piano-black-key-highlight-color: dodgerblue;
  --piano-white-key-group-1-highlight-color: dodgerblue;
  --piano-black-key-group-1-highlight-color: dodgerblue;
  --piano-white-key-group-2-highlight-color: lightcoral;
  --piano-black-key-group-2-highlight-color: lightcoral;
  --piano-white-key-group-3-highlight-color: gold;
  --piano-black-key-group-3-highlight-color: gold;
  --piano-white-key-group-4-highlight-color: lightgreen;
  --piano-black-key-group-4-highlight-color: lightgreen;
  --piano-white-key-group-5-highlight-color: lightcoral;
  --piano-black-key-group-5-highlight-color: lightcoral;
}

.piano {
  height: var(--piano-height);
  border: 1px solid var(--piano-border-color);
  overflow-x: auto;

  .piano-wrapper {
    height: 100%;
    width: fit-content;
    display: flex;
  }

  .key {
    position: relative;
    font-size: var(--piano-key-label-font-size);
    line-height: 1.5rem;
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    z-index: 1;
    &.color-white.active::after {
      width: var(--piano-white-key-active-indicator-size);
      height: var(--piano-white-key-active-indicator-size);
      bottom: calc(
        (
            var(--piano-white-key-width) -
              var(--piano-white-key-active-indicator-size)
          ) /
          2 * 0.6
      );
    }
    &.color-black.active::after {
      width: var(--piano-black-key-active-indicator-size);
      height: var(--piano-black-key-active-indicator-size);
      bottom: calc(var(--piano-black-key-active-indicator-size) * 0.1);
    }
    &.active::after {
      content: "";
      z-index: 10;
      border: 1px solid var(--piano-active-indicator-background-color);
      border-radius: 50%;
      position: absolute;
    }

    &:not(:last-child) {
      border-right: 1px solid var(--piano-border-color);
    }

    &.color-white {
      width: var(--piano-white-key-width);
      background-color: var(--piano-white-key-color);

      &:nth-of-type(12n + 3),
      &:nth-of-type(12n + 5),
      &:nth-of-type(12n + 8),
      &:nth-of-type(12n + 10),
      &:nth-of-type(12n + 12) {
        margin: 0 0 0 calc(var(--piano-black-key-width) / -2);
      }

      &.key-on {
        background-color: var(--piano-white-key-highlight-color);

        &.group-2 {
          background-color: var(--piano-white-key-group-2-highlight-color);
        }

        &.group-3 {
          background-color: var(--piano-white-key-group-3-highlight-color);
        }

        &.group-4 {
          background-color: var(--piano-white-key-group-4-highlight-color);
        }

        &.group-5 {
          background-color: var(--piano-white-key-group-5-highlight-color);
        }
      }
    }

    &.color-black {
      background-color: var(--piano-black-key-color);
      height: var(--piano-black-key-height);
      width: var(--piano-black-key-width);
      margin: 0 0 0 calc(var(--piano-black-key-width) / -2);
      z-index: 2;
      border-bottom: 1px solid var(--piano-border-color);
      border-left: 1px solid var(--piano-border-color);
      border-right: 1px solid var(--piano-border-color);

      &.key-on {
        background-color: var(--piano-black-key-highlight-color);

        &.group-2 {
          background-color: var(--piano-black-key-group-2-highlight-color);
        }

        &.group-3 {
          background-color: var(--piano-black-key-group-3-highlight-color);
        }

        &.group-4 {
          background-color: var(--piano-black-key-group-4-highlight-color);
        }

        &.group-5 {
          background-color: var(--piano-black-key-group-5-highlight-color);
        }
      }
    }
  }
}
