:root {
  --piano-height: 4rem;
  --piano-white-key-width: 1.2rem;
  --piano-black-key-width: 0.8rem;
  --piano-black-key-height: 60%;
  --piano-border-color: rgba(0, 0, 0, 0.4);
  --piano-white-key-color: white;
  --piano-black-key-color: rgb(35, 35, 35);
  --piano-white-key-highlight-color: dodgerblue;
  --piano-black-key-highlight-color: dodgerblue;
  --piano-white-key-left-hand-highlight-color: lightcoral;
  --piano-black-key-left-hand-highlight-color: lightcoral;
  --piano-white-key-soprano-highlight-color: dodgerblue;
  --piano-black-key-soprano-highlight-color: dodgerblue;
  --piano-white-key-alto-highlight-color: gold;
  --piano-black-key-alto-highlight-color: gold;
  --piano-white-key-tenor-highlight-color: lightgreen;
  --piano-black-key-tenor-highlight-color: lightgreen;
  --piano-white-key-bass-highlight-color: lightcoral;
  --piano-black-key-bass-highlight-color: lightcoral;
}

.piano {
  height: var(--piano-height);
  width: fit-content;
  border: 1px solid var(--piano-border-color);
  display: flex;
  overflow-x: auto;
}

.piano .key:not(:last-child) {
  border-right: 1px solid var(--piano-border-color);
}

.piano .key.color-white {
  width: var(--piano-white-key-width);
  background-color: var(--piano-white-key-color);
}

.piano .key.color-black {
  background-color: var(--piano-black-key-color);
  height: var(--piano-black-key-height);
  width: var(--piano-black-key-width);
  margin: 0 0 0 calc(var(--piano-black-key-width) / -2);
  z-index: 1;
  border-bottom: 1px solid var(--piano-border-color);
  border-left: 1px solid var(--piano-border-color);
  border-right: 1px solid var(--piano-border-color);
}

.piano .key.color-white:nth-of-type(12n + 3),
.piano .key.color-white:nth-of-type(12n + 5),
.piano .key.color-white:nth-of-type(12n + 8),
.piano .key.color-white:nth-of-type(12n + 10),
.piano .key.color-white:nth-of-type(12n + 12) {
  margin: 0 0 0 calc(var(--piano-black-key-width) / -2);
}

.piano .key.color-white.key-on {
  background-color: var(--piano-white-key-highlight-color);
}

.piano .key.color-black.key-on {
  background-color: var(--piano-black-key-highlight-color);
}

.piano .key.color-white.key-on.left {
  background-color: var(--piano-white-key-left-hand-highlight-color);
}

.piano .key.color-black.key-on.left {
  background-color: var(--piano-black-key-left-hand-highlight-color);
}

.piano .key.color-white.key-on.soprano {
  background-color: var(--piano-white-key-soprano-highlight-color);
}

.piano .key.color-black.key-on.soprano {
  background-color: var(--piano-black-key-soprano-highlight-color);
}

.piano .key.color-white.key-on.alto {
  background-color: var(--piano-white-key-alto-highlight-color);
}

.piano .key.color-black.key-on.alto {
  background-color: var(--piano-black-key-alto-highlight-color);
}

.piano .key.color-white.key-on.tenor {
  background-color: var(--piano-white-key-tenor-highlight-color);
}

.piano .key.color-black.key-on.tenor {
  background-color: var(--piano-black-key-tenor-highlight-color);
}

.piano .key.color-white.key-on.bass {
  background-color: var(--piano-white-key-bass-highlight-color);
}

.piano .key.color-black.key-on.bass {
  background-color: var(--piano-black-key-bass-highlight-color);
}
